body {
    display: flex;
    flex-direction: column;
    min-height: 130vh;
    background-color: #EEE;
}

.navbar {
    margin: 0;
    width: auto;
    height: 55px;
    background-color: #F5F2F2;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.logo {
    width: 60px;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
}

h5 {
    margin-left: 10px; 
    color: #794646;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.sign-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.signlogo {
    width: 30px;
    margin-right: 4px;
}

.sign {
    color: #794646;
    font-size: 16px;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.loginlogo {
    width: 30px;
    margin-right: 4px;
}

.login {
    color: #794646;
    font-size: 16px;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.login-container{
    display: flex;
    align-items: center;
    margin-left: 90svb;
}

.menu-container {
    display: flex;
    align-items: center;
    position: relative; 
    cursor: pointer;
    margin-left: auto; 
}

.Menu {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: #794646;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 6px;
    cursor: pointer;
}

.Menu::-ms-expand {
    display: none; 
}

.Menu option {
    background-color: #EEE;
    color: #794646;
}

.footer{
    background: #F5F2F2;
    height: 23vh;
    margin-top: auto;
    width: 100%;
}

.icons{
    width: 40px;
    color: #5F5F5F;
}

.footer-title{
    margin-left: 26px;
    color: #794646;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: arial;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.social{
    transform: translate(15%, 30%);
    width: 30%;
}

.infos{
    color: #794646;
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    transform: translate(300%, -70%);
}


.infos2{
    color: #794646;
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    width: 250px;
    transform: translate(280%, -183%);
}

.copywright{
    color: #794646;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: arial;
    font-size: 12px;
    font-weight: 700;
    transform: translate(270%, -900%);
    width: 400px;
}

.menuimg {
    width: 22px;
    height: auto;
    transform: translate(18px);
}

.menuimgg{
    width: 30px;
    height: auto;
}

.loogo{
    margin-right: 7px;
    width: 33px;
    transform: translate(10px);
}

.sidebar{
    width: 250px;
    height: 100vh;
    background: #F5F2F2;
}

.sidebar{
    position: relative;
}

.back-link {
    margin-top: 16px;
    margin-left: 15px;
    text-decoration: none;
    color: blue;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.recent{
    margin-top: 16px;
    margin-left: 40px;
    text-decoration: none;
    color: #794646;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.help{
    margin-top: 16px;
    margin-left: 40px;
    text-decoration: none;
    color: #794646;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.sidebar {
    width: 220px;
    background-color: #f5f5f5;
    padding: 15px;
    position: relative;
    left: 0;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    display: block;
}

.sidebar a:hover {
    text-decoration: underline;
}

.home{
    transform: translate(6%, 15%);
    width: 1000px;
}

.helper{
    color: var(--Color, #794646);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: arial;
}

.tex{
    width: 500px;
    transform: translate(0%, -80%);
    color: #794646;
    font-family: arial;
}

.nl{
    text-decoration: none;
}   

.head{
    width: 30%;
    font-family: arial;
    transform: translate(45%);
    font-size: 18px;
}

.img{
    width: 45%;
    height: 70vh;
    transform: translate(10%);
}

.user{
    width: 6%;
    transform: translate(150%, 170%);
}

.users{
    transform: translate(16.5%, 39%);
    font-family: arial;
    font-weight: 700;
}

.comment{
    font-family: arial;
    font-size: 14px;
    transform: translate(18%, -449%);
}

.date{
    width: 50%;
    color: #787878;
    font-family: arial;
    font-size: 14px;
    transform: translate(60.6%, -148.2%);
}

.userss{
    width: 6%;
    transform: translate(150%, -180%);
}

.usersss{
    transform: translate(16.5%, -485%);
    font-family: arial;
    font-weight: 700;
}

.comments{
    font-family: arial;
    font-size: 14px;
    transform: translate(19%, -1029%);
}

.commentss{
    font-family: arial;
    font-size: 16px;
    transform: translate(15%);
}

.dates{
    width: 50%;
    color: #787878;
    font-family: arial;
    font-size: 14px;
    transform: translate(60.6%, -728.2%);
}
.containss{
    transform: translate(0, 4%);
}

.comment-input{
    transform: translate(17%, 4%);
    width: 65%;
    height: 12%;
    border-radius: 10px;
}

.insides{
    width: 30%;
    height: 90vh;
    background-color: #FDF7F7;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translate(205%, -88%);
}

.buttonn{
    background-color: black;
    color: white;
    width: 60px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(95%, -30%);
  }

  .buttonn:hover{
    background-color: rgb(43, 42, 42);
  }

.read{
    font-family: arial;
    font-weight: 700;
    transform: translate(6%, 155%);
}

.rates{
    font-family: arial;
    font-size: 14px;
    width: 15%;
    transform: translate(310%, -442.2%);
}

.ratess{
    font-family: arial;
    font-size: 14px;
    width: 15%;
    transform: translate(310%, -1025.2%);
}

.stars {
    transform: translate(16.5%, -110%);
    cursor: pointer;
}

.star {
    font-size: 26px;
    color: #ddd;
    transition: color 0.3s;
}

.star:hover, 
.star.selected {
    color: #ffc107;
}

.starss {
    transform: translate(16.5%, -400%);
    cursor: pointer;
}

.starsss {
    font-size: 26px;
    color: #ddd;
    transition: color 0.3s;
}

.starsss:hover, 
.starsss.selecteds {
    color: #ffc107;
}

input[type="file"].file {
    display: none;
}

.custom-file-upload {
    transform: translate(150%, 4%);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background: none;
    padding: 4px;
    width: 4px;
}

.upload-icon {
    width: 30px; 
    height: 30px;
    margin-left: auto; 
}

.custom-file-upload span {
    font-size: 13px;
    margin-left: 8px;
    color: #6d6c6c;
    font-family: Arial, Helvetica, sans-serif;
}

.file-name {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}